html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="../style.css")
  body
    main
      h1= message
      br
      div= timeFromCookie
    footer
      a(href='form') Form
      a(href='result') Result
      a(href='myroute/test?p1=p1value&p2=p2value') MyRoute